div#buttons {
    float: right;
    text-align: right;
}

#link-results {
    padding-right: 10px;
}

div.column {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

input[type=text], input[type=date], select {
    width: 20em;
}

textarea {
    height: 10em;
    width: 100%;
}

.html-editor {
    float: left;
    width: 48%;
    margin: 0px;
}

.preview {
    float: left;
    width: 48%;
    padding-left: 1.5em;
    margin: 0px;
    box-sizing: border-box;
    min-height: 50px;
}

.html-label, .preview-label {
    display: inline-block;
    font-style: italic;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.preview .card {
    margin: 0px;
}