<form *ngIf="this.oEvent" #oEventForm="ngForm">
    <div class="card">
        <div style="float:left;">
            <h1>Event Details</h1>
            <h2>{{this.oEvent.name}} - {{this.oEvent.date|date}}</h2>
        </div>
        <div id="buttons">
            <input [disabled]="!oEventForm.form.dirty" type="button" class="secondary clickable" value="Cancel"
                (click)="this.onCancelClick()" />
            <input [disabled]="!oEventForm.form.dirty" type="button" class="primary clickable" value="Save"
                (click)="this.onSaveClick()" />
            <br>
            <a id="link-results" [class.link-disabled]="oEventForm.form.dirty" class="clickable"
                (click)="onCoursesClick()">Courses & Results</a>
        </div>
        <div class="clear-fix"></div>
        <div class="column">
            <span for="name" class="field-label">Name: </span><br>
            <input type="text" [(ngModel)]="this.oEvent.name" name="name" /><br>
            <span for="date" class="field-label">Date: </span><br>
            <input type="date" [(ngModel)]="this.oEvent.date" name="date" /><br>
            <span for="venue" class="field-label">Venue:</span><br>
            <select [(ngModel)]="this.oEvent.venueId" name="venue">
                <option *ngFor="let venue of this.venues" value="{{venue.id}}">{{venue.name}}</option>
            </select>
        </div>
        <div class="column">
            <span for="registration-time" class="field-label">Registration Time: </span><br>
            <input type="text" [(ngModel)]="this.oEvent.registrationTime" name="registration-time" /><br>
            <span for="start-time" class="field-label">Start Times: </span><br>
            <input type="text" [(ngModel)]="this.oEvent.startTime" name="start-time" /><br>
            <span for="close-time" class="field-label">Courses Close: </span><br>
            <input type="text" [(ngModel)]="this.oEvent.closeTime" name="close-time" /><br>
        </div>
        <div class="column">
            <span for="results-url" class="field-label">Results URL: </span><br>
            <input type="text" [(ngModel)]="this.oEvent.resultsURL" name="results-url" /><br>
            <span for="photos-url" class="field-label">Photos URL: </span><br>
            <input type="text" [(ngModel)]="this.oEvent.photosURL" name="photos-url" /><br>
            <span for="notice-url" class="field-label">Notice URL: </span><br>
            <input type="text" [(ngModel)]="this.oEvent.noticeURL" name="notice-url" /><br>
        </div>
        <div class="column">
            <span for="club" class="field-label">Organizing Club:</span><br>
            <select [(ngModel)]="this.oEvent.organizingClubId" name="club">
                <option *ngFor="let club of this.clubs" value="{{club.id}}">{{club.shortName}}</option>
            </select> <br>
            <span for="planner" class="field-label">Planner: </span><br>
            <app-competitor-selector [individualsOnly]="true" [(competitorId)]="this.oEvent.plannerId"
                (competitorIdChange)="this.onPlannerIdChange($event)"></app-competitor-selector>
            <span for="controller" class="field-label">Controller: </span><br>
            <app-competitor-selector [individualsOnly]="true" [(competitorId)]="this.oEvent.controllerId"
                (competitorIdChange)="this.onControllerIdChange($event)"></app-competitor-selector><br>
        </div>
        <div class="clear-fix"></div>
        <h4 class="field-label">Directions (html):</h4><br>
        <editor name="directions-html" [(ngModel)]="this.oEvent.directions" [init]="this.tinyMCEInit"
            [apiKey]="this.tinyMCEKey"></editor>
        <span for="latitude" class="field-label">Latitude: </span><br>
        <input type="text" [(ngModel)]="this.oEvent.coordinateLatitude" name="latitude" /><br>
        <span for="longitude" class="field-label">Longitude: </span><br>
        <input type="text" [(ngModel)]="this.oEvent.coordinateLongitude" name="longitude" /><br>
        <br>
        <h4 class="field-label">Courses (html):</h4><br>
        <editor name="courses-html" [(ngModel)]="this.oEvent.courses" [init]="this.tinyMCEInit"
            [apiKey]="this.tinyMCEKey"></editor>
        <br>
        <h4 class="field-label">Cost (html):</h4><br>
        <editor name="cost-html" [(ngModel)]="this.oEvent.cost" [init]="this.tinyMCEInit" [apiKey]="this.tinyMCEKey">
        </editor>
        <br>
        <h4 class="field-label">Special Note (html):</h4><br>
        <editor name="special-note-html" [(ngModel)]="this.oEvent.specialNote" [init]="this.tinyMCEInit"
            [apiKey]="this.tinyMCEKey"></editor>
        <br>
        <h4 class="field-label">Planner's Report (html):</h4><br>
        <editor name="planner-report-html" [(ngModel)]="this.oEvent.plannerReport" [init]="this.tinyMCEInit"
            [apiKey]="this.tinyMCEKey"></editor>
        <br>
        <h4 class="field-label">Controller's Report (html):</h4><br>
        <editor name="controller-report-html" [(ngModel)]="this.oEvent.controllerReport" [init]="this.tinyMCEInit"
            [apiKey]="this.tinyMCEKey"></editor>
    </div>
</form>