div#buttons {
    float: right;
    text-align: right;
}

#link-results {
    padding-right: 10px;
}

div.column {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

textarea {
    height: 10em;
    width: 100%;
}

editor {
    border:1px solid rgb(130, 130, 130);
    border-radius: 7px;
}