<div class="card">
    <h1>Competitors</h1>
    <span>Search: </span><input type="text" [(ngModel)]="this.searchText" (ngModelChange)="onSearchTextChanged()">
    <br>
    <br>
    <table *ngIf="this.displayedCompetitors.length > 0" class="table-striped">
        <thead>
            <th></th>
            <th></th>
            <th>Id</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let competitor of this.displayedCompetitors">
                <td><input type="image" src="../../../../assets/icon-edit.png" class="icon-small" (click)="onEditClick(competitor.id)"></td>
                <td>
                    <img *ngIf="competitor.genderId == 1 || competitor.genderId == 2"
                        src="../../../../assets/individual.png" class="icon-small">
                    <img *ngIf="competitor.genderId == 3" src="../../../../assets/group.png" class="icon-small">
                </td>
                <td>{{competitor.id}}</td>
                <td>{{competitor.fullName}}</td>
                <td>{{competitor.gender}}</td>
                <td><a class="clickable" (click)="onResultsClick(competitor.id)">results</a></td>
                <td><input type="image" src="../../../../assets/icon-delete.png" class="icon-small icon-delete"
                        (click)="onDeleteClick(competitor.id)"> </td>
            </tr>
        </tbody>
    </table>
    <div id="loading-card" *ngIf="!this.allCompetitorsDisplayed" isVisible (visible)="onLoadingCardVisible($event)">loading more competitors...</div>
</div>

