#container {
  display: flex;
  align-items: center;
  margin-right: -2em;
  width: 18em;
}

#competitorName, #searchInputBox {
  box-sizing: border-box;
  width: 15rem;
}

#clear {
  color: rgb(35, 35, 35);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(57, 57, 57, 0);
  padding: 5px 7px 5px 7px;
  margin: 0px;
  position: relative;
  left: -2em;
}

#new {
  height: 2em;
  position: relative;
  left: -2em;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  min-width: 20em;
  z-index: 9999;
}

.dropdown-list li {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f2f2f2;
}

.dropdown-list li.highlighted {
  background-color: #fdb08c;
  ;
}

.gender-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: contain;
  margin-right: 0.3em;
}

.gender-icon.gender-1, .gender-icon.gender-2 {
  background-image: url(../../../assets/individual.png);
}

.gender-icon.gender-3 {
  background-image: url(../../../assets/group.png);
}