#event-header {
    float:left;
    max-width:calc(100% - 25px);
}

div#close {
    float:right;
}

h2 {
    margin-bottom: 4px;
    color: rgb(200, 200, 200);
    font-variant: small-caps;
}

hr {
    border-color: rgb(200, 200, 200);
    border-bottom: 0px;
    border-style: solid;
    margin-top: 1px;
}

::ng-deep b {
    color: rgb(97,99,101);
}