<div id="header">
    <div id="colour-accent"></div>
    <div id="content">
        <div id="content-left">
            <img src="assets/PenOC_logo_whiteorange.png" height="90px" />
        </div>
        <div id="content-center">
            <span id="full-name">Peninsula Orienteering Club</span>
        </div>
        <div id="content-right">
            <app-next-event (eventClick)="this.nextEventClicked($event)"></app-next-event>
        </div>
    </div>
</div>
<div id="menu">
    <div id="content">
        <nav>
            <ul routerLinkActive="active">
                <li><a routerLink="home" routerLinkActive="router-link-active">HOME</a></li>
                <li><a routerLink="results" routerLinkActive="router-link-active">RESULTS</a></li>
                <li><a routerLink="contact-us" routerLinkActive="router-link-active">CONTACT US</a></li>
            </ul>
        </nav>
    </div>
</div>