#header {
    background-color: rgb(97, 99, 101);
}

#header #content {
    box-sizing: border-box;
    overflow-y: auto;
    width: 1200px;
    margin: auto;
    padding: 10px 20px 10px 20px;
}

@media screen and (max-width: 1200px) {
    #header #content {
        width: 100%;
    }
}

#content-left {
    float: left;
}

#content-center {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    font-family: 'Roboto Condensed';
    font-size: 3em;
    color: #ff6720;
}

@media screen and (max-width: 800px) {
    #content-center {
        font-size: 2em;
    }
}

@media screen and (max-width: 400px) {
    #content-center {
        font-size: 1.8em;
    }
}

#content-right {
    float: right;
}

@media screen and (max-width: 800px) {
    #content-right {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #content-left {
        display: none;
    }
}

#colour-accent {
    background-color: #ff6720;
    height: 12px;
}

#content img {
    height: 5em;
    vertical-align: bottom;
}

#full-name {
    margin: 4px;
    font-weight: 400;
}

#menu {
    background-color: rgb(200, 200, 200);

}

#menu div {
    box-sizing: border-box;
    width: 1200px;
    margin: auto;
    padding: 10px 20px 10px 20px;
}

@media screen and (max-width: 800px) {
    #menu div {
        width: 100%;
    }
}

#menu nav ul {
    font-size: 1.1em;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 800px) {
    #menu nav ul {
        font-size: 1em;
    }
}

li {
    display: inline;
    padding-right: 1em;
}

li a {
    text-decoration: none;
    color: rgb(21, 20, 20);
    padding: 0.2em 1em;
    margin: 0.2em;
    border-radius: 6px;
}

li a.router-link-active {
    background-color: #ff6720;
    color: white;
}

li a:hover {
    color: #ff6720;
}

li a.router-link-active:hover {
    color: white;
}