<div id="header">
    <div id="colour-accent"></div>
    <div id="content">
        <img src="assets/PenOC_logo_only_white.png" height="60px" />
        <span id="abbreviation">PenOC</span>
        <span id="full-name">Peninsula Orienteering Club</span>
    </div>
</div>
<div id="menu">
    <div id="content">
        <nav>
            <ul routerLinkActive="active">
                <li><a routerLink="home" routerLinkActive="router-link-active">HOME</a></li>
                <li><a routerLink="results" routerLinkActive="router-link-active">RESULTS</a></li>
                <li><a routerLink="contact-us" routerLinkActive="router-link-active">CONTACT US</a></li>
            </ul>
        </nav>
    </div>
</div>