/* You can add global styles to this file, and also import other style files */
body {
    background-color:#EEEEEE;
    margin:0px;
    overflow-x: hidden;
    font-family: "Segoe UI","Open Sans","Helvetica Neue",Helvetica,'Roboto Condensed',Arial,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-size: 17px;
}

h1 {
    color: #ff6720;
    font-size: 1.3em;
    font-variant: small-caps;
}

h2 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: blue;
}

input[type="button"]{
    font-size: 1em;
    padding: 0.2em 1em;
    border: 1px solid #ff6720;
    border-radius: 3px;
    margin:0.4em;
}

input[type="button"].primary{
    color: white;
    background-color: #ff6720;
}
input[type="button"].secondary{
    color: #ff6720;
    background-color: white;
}
input[type="button"].clickable:hover{
    box-shadow: 0 0 0.5em 0.3em rgba(100,100,100,0.3);
}

input[type="text"], input[type="date"], input[type="password"], select {
    font-size: 1em;
    box-sizing: border-box;
    height:1.9em;
    border: 1px solid rgb(100,100,100);
    border-radius: 0.4em;
    padding: 0.3em;
}

.clear-fix {
    clear: both;
}

.clickable:hover {
    cursor: pointer;
}

.clickable-link:hover {
    cursor:pointer;
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    body{font-size: 16px;}
}

@media screen and (max-width: 1000px) {
    body{font-size: 14px;}
}