table {
    border-spacing: 0;
}

th {
    border-top: 1px solid rgb(200,200,200);
    border-bottom: 1px solid rgb(200,200,200);
    padding: 5px;
    text-align: left;
}

td {
    padding: 5px;
    border-width: 1px;
    vertical-align: top;
}

.table-striped tr:nth-child(even) {
    background-color: rgb(240,240,240);
}