<div id="content" class="card">
    <div id="header-left">
        <h1>Events</h1>
    </div>
    <div id="header-right">
        <input type="image" src="../../../../assets/icon-add.png" title="add new event" (click)="this.onNewEventClick()">
    </div>
    <div class="clear-fix"></div>
    <div class="column">
        <h1>Upcoming Events</h1>
        <app-oevent-list [oevents]="this.upcomingOEvents|sortOeventsByDate" (oeventClicked)="onUpcomingEventClick($event)"></app-oevent-list>
    </div>
    <div class="column">
        <h1>Recent Events</h1>
        <app-oevent-list [oevents]="this.recentOEvents|sortOeventsByDate:'desc'" (oeventClicked)="onUpcomingEventClick($event)"></app-oevent-list>
    </div>
</div>