<div id="content" class="card">
    <h1>Events</h1>
    <div class="column">
        <h1>Upcoming Events</h1>
        <app-oevent-list [oevents]="this.upcomingOEvents|sortOeventsByDate" (oeventClicked)="onUpcomingEventClick($event)"></app-oevent-list>
        <input type="image" src="../../../../assets/icon-add.png" title="add event" (click)="this.onNewEventClick()">
    </div>
    <div class="column">
        <h1>Recent Events</h1>
        <app-oevent-list [oevents]="this.recentOEvents|sortOeventsByDate" (oeventClicked)="onUpcomingEventClick($event)"></app-oevent-list>
    </div>
</div>