<div id="content">
    <div class="card" style="width: 600px;float:left;">
        <span class="card-title">About the club</span><br>
        <p style="float:left;"><a target="_blank"
                href="https://maps.google.com/maps/place?q=loc:-33.925804+18.427486"><img id="map"
                    src="assets/Cape Town Location Map.png" /></a></p>
        <p>PenOC is the Peninsula Orienteering Club, based in Cape Town, South Africa. Orienteering Events are held
            regularly
            throughout the year, and visitors are welcome.</p>
        <span class="card-title">What is Orienteering?</span><br>
        <p style="clear:left;">An exciting outdoor adventure sport which involves walking or running whilst navigating
            around a course using
            a detailed map and sometimes a compass.</p>
        <p>The aim is to navigate between a set of control points, deciding on the best route to complete the course in
            the quickest time.</p>
        <p> It does not matter how young, old or fit you are - you can run, walk or jog the course and progress at your
            own pace.</p>
        <span class="card-title">Stay in Touch</span><br>
        <p><img src="assets/email.svg" class="social"></p> Our email list will keep you informed of event details and
        results as they become available. Subscribe to the <a target="_blank"
            href="https://penoc.us18.list-manage.com/subscribe?u=930cfaff6a9f183c90d5a414b&id=ac40b7f57f">Mailing
            List</a>
        <p><img src="assets/WhatsApp.svg" class="social">To receive event details and updates directly on your phone,
            join our <a id="whats-app-link" (click)="this.showWhatsApp(true)">WhatsApp group</a></p>
        <p><img src="assets/facebook.svg" class="social">Join us to discuss results and other topics on <a
                target="_blank" href="https://www.facebook.com/PeninsulaOrienteeringClub/">Facebook</a></p>
    </div>
    <div style="width: 450px;float:left;">
        <div class="card">
            <span class="card-title">Event Entries</span><br>
            <span>The club uses Entry Ninja for managing entries. Click here to see which events are open for entry</span>
            <a target="_blank" href="https://www.entryninja.com/events/organiser/15652-peninsula-orienteering-club"><button id="entryNinja">Entry Ninja</button></a>
        </div>
        <div class="card" style="min-height:500px;">
            <span class="card-title">Upcoming Events</span><br>
            <app-upcoming-oevents></app-upcoming-oevents>
        </div>
    </div>
    <app-whats-app></app-whats-app>
</div>