<div id="column-1">
    <div class="card">
        <span class="card-title">About the club</span><br>
        <p style="float:left;"><img id="table_mountain" src="assets/table_mountain.png" /></p>
        <p>We are a small orienteering club based in Cape Town, South Africa, and hold events regularly throughout the
            year.
            Visitors are always welcome and all our events cater for both experienced and novice orienteers.</p>
        <p style="clear:left;"><span class="card-title">What is Orienteering?</span><br>
            An exciting outdoor adventure sport which involves walking or running whilst navigating
            around a course using
            a detailed map and sometimes a compass.</p>
        <p>The aim is to navigate between a set of control points, deciding on the best route to complete the course in
            the quickest time.</p>
        <p> It does not matter how young, old or fit you are - you can run, walk or jog the course and progress at your
            own pace.</p>
        <p><a (click)="onReadMoreClick()" class="clickable-link">read more...</a></p>
        <span class="card-title">Stay in Touch</span><br>
        <p><a target="_blank"
                href="https://penoc.us18.list-manage.com/subscribe?u=930cfaff6a9f183c90d5a414b&id=ac40b7f57f"><img
                    src="assets/email.svg" class="social"></a> Our email list will keep you informed of event details
            and
            results as they become available. Subscribe to the <a target="_blank"
                href="https://penoc.us18.list-manage.com/subscribe?u=930cfaff6a9f183c90d5a414b&id=ac40b7f57f" class="clickable-link">Mailing
                List</a></p>
        <p><a id="whats-app-icon" (click)="this.showWhatsApp(true)"><img src="assets/WhatsApp.svg" class="social"></a>To
            receive event details and updates directly on your phone,
            join our <a id="whats-app-link" (click)="this.showWhatsApp(true)" class="clickable-link">WhatsApp group</a></p>
        <p><a target="_blank" href="https://www.facebook.com/PeninsulaOrienteeringClub/"><img src="assets/facebook.svg"
                    class="social"></a>Join us to discuss results and other topics on <a target="_blank"
                href="https://www.facebook.com/PeninsulaOrienteeringClub/" class="clickable-link">Facebook</a></p>
    </div>
</div>
<div id="column-2">
    <div class="card">
        <span class="card-title">Event Entries</span><br>
        <span>The club uses <a target="_blank"
                href="https://www.entryninja.com/events/organiser/15652-peninsula-orienteering-club" class="clickable-link">Entry Ninja</a> for
            managing event entries. Click here to see which events are open for entry.</span><br>
        <a target="_blank" href="https://www.entryninja.com/events/organiser/15652-peninsula-orienteering-club"><button
                id="entryNinja">Entry Ninja</button></a>
    </div>
    <div class="card" style="min-height:500px;">
        <span class="card-title">Upcoming Events</span><br>
        <app-upcoming-oevents (oeventClicked)="onUpcomingEventClicked($event)"></app-upcoming-oevents>
    </div>
</div>
<app-whats-app></app-whats-app>