div#column-1 {
    width: 50%;
    box-sizing: border-box;
    float:left;
}

div#column-2 {
    width: 50%;
    box-sizing: border-box;
    float:left;
}

@media screen and (max-width: 1000px) {
    div#column-1 {
        width: 100%;
        float:none;
    }
    div#column-2 {
        width: 100%;
        float:none;
    }
}

img#table_mountain {
    height: 7em;
    border: 1px solid #666;
    vertical-align: top;
    margin-right: 8px;
}

img.social {
    height: 2em;
    margin-right: 5px;
    float: left;
}

#whats-app-icon:hover {
    cursor: pointer;
}

#whats-app-link:hover {
    cursor: pointer;
}

button#entryNinja {
    background-color:rgb(97,99,101);
    color: white;
    border:none;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}

button#entryNinja:hover {
    cursor: pointer;
}