<div id="event" *ngIf="this.oEventResults.oEvent" class="card clickable" (click)="this.onOEventClicked()">
    <div id="name"><span class="card-title">{{this.oEventResults.oEvent.name}}</span></div>
    <div id="date"><span class="card-title"></span>{{this.oEventResults.oEvent.date | date}}</div>
    <div id="venue"><span class="venue">{{this.oEventResults.oEvent.venue}}</span></div>
    <table class="results">
        <thead>
            <tr>
                <th>Course</th>
                <th>Winner</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let courseResults of this.oEventResults.courseResults">
                <td>{{courseResults.course.name}}</td>
                <td>{{courseResults.results[0].competitor}}</td>
                <td>{{courseResults.results[0].time | time}}</td>
            </tr>
        </tbody>
    </table>
</div>