#competitor {
    float:left;
    max-width:calc(100% - 25px);
}

div#close {
    float:right;
}

#result-count {
    font-size: 1.2em;
    font-weight: 700;
}

table#individual-results {
    width: 100%;
}